@import 'variables';

@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";
@import "~bootswatch/dist/lux/bootswatch";

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

body {
  font-size: 1rem;
}

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.v-application {
  font-family: $font-family-base !important;
}

/* no pointer events */
.pointer-events-none {
  pointer-events: none;
}

@import '~/assets/css/print.css' print;
