@media print {

  /* https://www.matuzo.at/blog/i-totally-forgot-about-print-style-sheets/ */
  *,
  * *,
  *:before,
  *:after,
  *::before,
  *::after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent;
    box-shadow: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body * {
    visibility: hidden;
    text-rendering: optimizeLegibility;
    font-family: Georgia, "Times New Roman", Times, serif !important;
    color: #1a1a1a !important;
  }

  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13pt !important;
    line-height: 1.3;
    background: none;
  }

  .container,
  .container * {
    visibility: visible;
  }

  main {
    padding: 0 !important;
  }

  section {
    /* page-break-before: always; */
    page-break-inside: avoid;
  }
}
