@import url('https://fonts.googleapis.com/css?family=Lato');

.root {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  margin-top: 120px;
}

.teaser {
  text-align: center;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  max-width: 1200px;
  margin: 0 auto;
}

.column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  width: 50%;

  box-shadow: 0 1px 10px 0 #ccc;
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
}

body {
  font-family: 'Lato', sans-serif;
}

.rebuilding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: green;
  padding: 10px;
  color: #fff;
}

footer {
  text-align: center;
}
